.flexRowContent--top-menu,
.flexRowContent--navbar {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--top-menu,
  .flexRowContent--navbar {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--top-menu,
  .flexRowContent--navbar {
    padding: 0 0.25rem;
  }
}

.flexRow--top-menu{
  background: linear-gradient(45deg, rgb(212, 0, 89) 10%, rgb(244, 244, 244) 72%);
}

.flexRowContent--top-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: .7rem 0;
  width: 90%;
}

.flexRowContent--navbar{
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.flexRowContent--navbar-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLinkContainer){
  padding-bottom: 0px;
  padding-top: 0px;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLinkContainer) {
  margin-left: 0px;
  margin-right: 0px;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLink) {
  color: #4d4d4d;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLinkContent){
  padding: 0 .6rem;
  border-right: 2px solid #8e8e8e;
}
.flexRowContent--top-menu :global(.vtex-menu-2-x-menuItem):first-child :global(.vtex-menu-2-x-styledLinkContent){
  border-left: 2px solid #8e8e8e;
}
.flexRowContent--navbar :global(.vtex-menu-2-x-styledLink){
  color: #4d4d4d;
  font-weight: bold;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}

.flexRowContent--navbar
:global(.vtex-menu-2-x-submenuContainer)
:global(.vtex-menu-2-x-menuContainer)
:global(.vtex-menu-2-x-styledLink){
  color: #4d4d4d;
  font-size: 13px;
  font-weight: 400;
}

.flexRowContent--navbar
:global(.vtex-menu-2-x-submenuContainer)
:global(.vtex-menu-2-x-menuContainer)
:global(.vtex-menu-2-x-styledLink--header-title){
  color: #2A86E4;
  font-size: 14px;
  font-weight: 700;
}

.flexRowContent--navbar :global(.vtex-menu-2-x-styledLinkContent){
  align-items: center;
}

.flexRowContent--navbar :global(.vtex-menu-2-x-styledLinkContainer--otras){
  width: min-content;
}

.flexRowContent--navbar :global(.vtex-menu-2-x-styledLinkContent--otras){
  width: 60%;
  white-space: break-spaces;
}

.flexRowContent--navbar :global(.vtex-menu-2-x-menuItem){
  align-self: center;
}

.flexRowContent--navbar :global(.vtex-menu-2-x-styledLinkContent--para-ti)::before {
  content:'';
  clear:both;
  height: 23px;;
  width:35px;
  display:inline-block;
  background-image: url(https://kayserltda.vteximg.com.br/arquivos/kayserparati_ico.gif?v=637534287903970000);
  background-size:100%;
}

.flexRowContent--top-menu :global(.vtex-menu-2-x-styledLink):hover,
.flexRowContent--navbar :global(.vtex-menu-2-x-styledLink):hover{
  color: #8e8e8e;
}

.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--busquedas-footer{
  background: rgb(244, 244, 244);
}

.flexRow--credits{
  background: #e6e6e6;
}

/* páginas de productos */

/* producto: imagen */
:global(.vtex-stack-layout-0-x-stackContainer--product)
:global(.vtex-store-components-3-x-productImagesGallerySlide)::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.045);
}

:global(.vtex-stack-layout-0-x-stackContainer--product)
:global(.vtex-store-components-3-x-figure)::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.045);
}

:global(.vtex-stack-layout-0-x-stackContainer--product)
:global(.vtex-store-components-3-x-carouselGaleryCursor){
  padding-left: 3px;
}
:global(.vtex-stack-layout-0-x-stackContainer--product)
:global(.vtex-store-components-3-x-productImagesThumb){
  margin-bottom: 3px;
}

/* producto: breadcrumb*/
.flexCol--right-col
:global(.vtex-breadcrumb-1-x-container){
  text-align: center;
}
.flexCol--right-col
:global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-prod){
  margin-top: 0px;
}
.flexCol--right-col
:global(.vtex-breadcrumb-1-x-homeLink),
.flexCol--right-col
:global(.vtex-breadcrumb-1-x-arrow--1)
:global(.vtex-breadcrumb-1-x-caretIcon){
  display: none;
}
.flexCol--right-col
:global(.vtex-breadcrumb-1-x-link),
.flexCol--right-col
:global(.vtex-breadcrumb-1-x-term){
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
}
/* producto: nombre y precios */
.flexCol--right-col
:global(.vtex-store-components-3-x-productBrand--quickview){
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.flexCol--right-col
:global(.vtex-product-identifier-0-x-product-identifier--productReference){
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.flexCol--right-col
:global(.vtex-product-identifier-0-x-product-identifier--productReference)
:global(.vtex-product-identifier-0-x-product-identifier__label){
  font-size: 0;
}

.flexCol--right-col
:global(.vtex-product-identifier-0-x-product-identifier--productReference)
:global(.vtex-product-identifier-0-x-product-identifier__label)::before{
  content: 'Cod';
  font-size: 13px;
}

.flexCol--right-col
:global(.vtex-product-price-1-x-listPrice){
  color: #666;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.flexCol--right-col
:global(.vtex-product-price-1-x-sellingPriceValue){
  color: #ff0000;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.flexCol--right-col
:global(.vtex-product-price-1-x-currencyCode){
  margin-right: 4px;
}

/* producto: sku selector */

.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorName),
.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorNameSeparator){
  color: #888;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 800;
}

.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSelectorImageValue){
  display: none;
}
.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-skuSelectorName)::after{
  content: ':';
}

.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-skuSelectorItem){
  height: auto;
}


.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-skuSelectorInternalBox){
  border: revert;
}

.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-skuSelectorItemTextValue){
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 800;
  padding: 0.4rem;
}

.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-skuSelectorInternalBox):hover{
  box-shadow: 3px 3px 2px rgb(79 135 224 / 60%);
  transition: all .4s ease-in-out;
}

.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-skuSelectorItemTextValue):hover{
  background-color: #2a86e4;
  border: 1px solid #ccc;
  color: white;
  transition: all .4s ease-in-out;
}

.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-skuSelectorItem--selected){
  background-color: #2a86e4;
  border-radius: 3px;
  box-shadow: 3px 3px 2px rgb(79 135 224 / 60%);
}
.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-skuSelectorItem--selected)
:global(.vtex-store-components-3-x-skuSelectorItemTextValue){
  color: white;
}
.flexCol--right-col
:global(.vtex-store-components-3-x-skuSelectorSubcontainer--talla)
:global(.vtex-store-components-3-x-frameAround){
  display: none;
}
.flexCol--right-col
:global(.vtex-store-components-3-x-diagonalCross){
  background-image: linear-gradient(
    to top left,
    transparent 44%,
    rgba(255, 0, 0, .2) 50%,
    currentColor 48%,
    currentColor 52%,
    transparent 52%
  );
  cursor: not-allowed;
}

/* producto: cantidad */

.flexCol--right-col
:global(.vtex-product-quantity-1-x-quantitySelectorTitle){
  display: none;
}

.flexCol--right-col
:global(.vtex-numeric-stepper__minus-button),
.flexCol--right-col
:global(.vtex-numeric-stepper__plus-button){
  background-color: white;
  border: 1px solid #ccc;
  height: 36px;
}

.flexCol--right-col
:global(.vtex-numeric-stepper__minus-button__text),
.flexCol--right-col
:global(.vtex-numeric-stepper__plus-button__text)
{
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.flexCol--right-col
:global(.vtex-numeric-stepper__input){
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-top: 1px solid #ccc;
  color: #666;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  height: 36px;
  width: 48px;
}

.flexCol--right-col
:global(.vtex-product-quantity-1-x-quantitySelectorContainer){
  margin-bottom: 0;
}

/* producto: botón comprar */
.flexCol--right-col
:global(.vtex-button){
  background-color: #2a86e4;
  border: none;
  height: 36px;
  min-height: 36px;
}
.flexCol--right-col
:global(.vtex-button__label){
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 800;
  text-transform: capitalize;
}

/* producto: caracteristicas */
.flexCol--right-col
:global(.vtex-menu-2-x-styledLinkContainer--caracteristicas-producto){
  margin-left: 0;
}
.flexCol--right-col
:global(.vtex-menu-2-x-menuItem--caracteristicas-producto)
:global(.vtex-menu-2-x-styledLinkContent--caracteristicas-producto){
  align-items: center;
  color: #4d4d4d;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.flexCol--right-col
:global(.vtex-menu-2-x-accordionIcon--caracteristicas-producto){
  color: #4d4d4d;
  font-size: 20px;
}
.flexCol--right-col
:global(.vtex-menu-2-x-menuItem--caracteristicas-producto)
:global(.vtex-store-components-3-x-productDescriptionTitle){
  display: none;
}
.flexCol--right-col
:global(.vtex-menu-2-x-menuItem--caracteristicas-producto)
:global(.vtex-menu-2-x-submenuAccordion){
  display: block;
  text-align: center;
  padding-left: 0;
}
.flexCol--right-col
:global(.vtex-menu-2-x-menuItem--caracteristicas-producto)
:global(.vtex-menu-2-x-submenuAccordion)
:global(.vtex-flex-layout-0-x-flexRowContent){
  margin-bottom: 0;
}
.flexCol--right-col
:global(.vtex-menu-2-x-menuItem--caracteristicas-producto)
:global(.vtex-menu-2-x-submenuAccordion)
:global(.vtex-flex-layout-0-x-flexRowContent)
:global(.vtex-store-components-3-x-content){
  color: #4d4d4d;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

/* producto: compartir */
.flexCol--right-col
:global(.vtex-store-components-3-x-shareLabel){
  font-size: 0;
}
.flexCol--right-col
:global(.vtex-store-components-3-x-shareLabel)::after{
  color: #4d4d4d;
  content: 'Comparte este producto:';
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.flexCol--right-col
:global(.vtex-button):hover{
  opacity: .7;
  transition: all .4s ease-in-out;
}