.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #4d4d4d;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}


/* textos: institucionales */
.heading--txt-institucional--title{
  color: #909090;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.paragraph--txt-institucional--p{
  color: #555;
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4rem;
  margin-bottom: 1.3rem;
}

@media(max-width: 991px){
  .wrapper--txt-institucional--title,
  .wrapper--txt-institucional--p{
    margin: 0 3.5rem;
  }
}